.payCard-img img{
    margin-right: 0.3rem;
    width: 2rem;
    margin-top: 0.5rem;
}
#credit-card{
    padding: 2rem;
    border: 1px solid gray;
}
#paypal{
    padding: 1.5rem;
    border: 1px solid gray;
    margin-top: 1.5rem;
}