.filter-btn{
    display: inline-block;
    padding: 10px 10px;
    border: 1px solid lightgray;
    color: gray;
    margin-top: 1rem;
    margin-right: 0.7rem;
}
.filter-btn:hover{
    color: black;
}